<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holary.mapper.ArticleMapper">
    <!--发布文章-->
    <insert id="insertArticle">
        insert into article(title, content, cover_img, state, category_id, create_user, create_time, update_time)
        values (#{title}, #{content}, #{coverImg}, #{state}, #{categoryId}, #{createUser}, now(), now())
    </insert>

    <!--分页查询文章-->
    <select id="selectArticleByPage" resultType="article">
        select * from article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            and create_user = #{userId}
        </where>
    </select>

    <!--根据文章id查询文章详情-->
    <select id="selectArticleDetailById" resultType="article">
        select *
        from article
        where id = #{id}
    </select>

    <!--根据文章id修改文章-->
    <update id="updateArticle">
        update article
        set title       = #{title},
            content     = #{content},
            cover_img   = #{coverImg},
            state       = #{state},
            category_id = #{categoryId},
            update_time = now()
        where id = #{id}
    </update>
</mapper>